<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Tars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/communicator.js') }}"></script>
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/gui.js') }}"></script>
    </head>
    
    <body>
        <h1 class="headline">Tars controls</h1>
        <body>
            <div class="command_field">
                <form method="POST">
                    <label for="command_input">Command</label>
                    <input type="text" name="command_input" id="command_input"/>
                    <button type="submit" name="trigger" class="submit_button" id="command_button" value="command">Send</button>
                </form>
            </div>


            <div class="feedback_message">
                <div class="feedback_message">
                {% if success %}
                    <pre class="pre-success">{{ feedback_message }}</pre>
                {% else %}
                    <pre class="pre-failure">{{ feedback_message }}</pre>
                {% endif %}
            </div>

            </div>
            <div class="camera_feed">
                <h3 class="camera_feed_text">Camera Feed</h3>
                <img class="camera_feed_image" id="camera_feed_image" src="{{ url_for('camera_feed') }}">
            </div>
        </body>
    </body>
</html>