<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Ohbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/communicator.js') }}"></script>
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/gui.js') }}"></script>
    </head>
    
    <body>
        <h1>Ohbot controls.</h1>
        <body>
            <label for="command_input">Command</label>
            <input type="text" name="command_input" id="command_input"/>
            <button type="button" onclick="eel.send_command(document.getElementById('command_input').value)">Send</button>
            <div class="error_message">
                <p id="error_message"></p>
            </div>
            <img id="bg" src="" alt="">
        </body>
    </body>
</html>