<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Ohbot</title>
        <!-- Include eel.js - note this file doesn't exist in the 'templates' directory -->
        <script type="text/javascript" src= "/eel.js"></script>
        <script type="text/javascript" src= "communicator.js"></script>
        <link href="/style.css" rel="stylesheet" />
    </head>

    <body>
        <h1>Ohbot.</h1>
        <body>
            <button type="button" onclick="eel.connect()">Connect</button>
            <div class="error_message">
                <p id="error_message"></p>
            </div>
        </body>
    </body>
</html>