<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Ohbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/communicator.js') }}"></script>
        <script type="text/javascript" src= "{{ url_for('static', filename='scripts/gui.js') }}"></script>
    </head>

    <body>
        <h1>Ohbot.</h1>
        <body>
            <button type="button" onclick="eel.connect()">Connect</button>
            <div class="error_message">
                <p id="error_message"></p>
            </div>
        </body>
    </body>
</html>